/* место для вашего кода */
body {
  width: 1100px;
  height: 3028px;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 293px;
  padding: 50px;
  justify-items: center;
  align-items: center;
}

.logo-img {
  width: 148px;
  height: 105px;
}

.nav-header {
  width: 391.48px;
  height: 22px;
}
.list-style-none{
  list-style: none;
}

.nav-header ul {
  display: flex;
  list-style: circle;
  gap: 35px;
}

.nav-header li {
  margin-left: 10px;
}

.cover {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255, 1);
  align-items: center;
}

.cover-img {
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  line-height: 1.3;
}

h1 {
  font-size: 100px;
  letter-spacing: 20px;
}
h2 {
  font-size: 40px;
  padding: 0 0 40px 40px;
}

h3 {
  font-size: 22px;
}

a {
  text-decoration: none;
}
.underline-black {
  border-bottom: 1px solid rgb(0, 0, 0, 1); /* толщина, стиль, цвет */
  padding-bottom: 3px; /* отступ между текстом и линией */
}

.underline-white {
  border-bottom: 1px solid rgba(255, 255, 255, 1); /* толщина, стиль, цвет */
  padding-bottom: 3px; /* отступ между текстом и линией */
}

.title {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 385px;
  padding: 165px 0 0 50px;
  background-position: center;
}

.align-start {
  align-self: flex-start;
}

.align-center {
  align-self: center;
}

.align-flex-end {
  align-self: flex-end;
}

.description {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 51px;
  background-position: center;
  margin: 271px 50px 50px;
  align-items: center;
  gap: 75px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  width: 256px;
  height: 51px;
}

.lots-section {
  display: flex;
  flex-direction: column;
  height: 771px;
  padding: 24px;
  margin-top: 120px;
  background-position: center;
}

.lots-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 596px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 334px auto;
  border: 5px solid rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  z-index: 2;
  color: rgba(255, 255, 255, 1);
  gap: 15px;
}
.lots-flex {
  display: flex;
  flex-direction: column;
  background-position: center;
  padding: 40px;
}
.text-end {
  margin-top: auto;
  font-size: 20px;
  padding-top: 30px;
}

.lots-img-1 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/card-lot-01.png);
    background-size: contain;
}
.lots-img-2 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/card-lot-02.png);
    background-size: 100% 100%;
}
.lots-img-3 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/card-lot-03.png);
    background-size: contain;
}

.more {
  font-size: 20px;
  width: 192px;
  height: 25px;
}
.padding-more {
  padding: 30px 0 0 40px;
}
.about {
  display: flex;
  flex-direction: row;
  margin: 120px 24px 0 24px;
  width: 1052px;
  height: 595px;
  padding-left: 47px;
  padding-top: 35px;
}
.about-img {
  width: 240px;
  height: 240px;
  border-radius: 50%; /* делает контейнер круглым */
  background-color: rgb(0, 0, 0, 1); /* чёрный фон */
  display: flex;
  align-items: center; /* центрирует изображение по вертикали */
  justify-content: center; /* центрирует по горизонтали */
}
.about-img img {
  max-width: 70%; /* изображение меньше фона */
  max-height: 70%;
  border: 6px solid rgb(255, 255, 255, 1); /* белая рамка вокруг изображения */
  box-sizing: border-box;
}
.about-conteir {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 693px;
  height: 449px;
  margin-left: 50px;
  margin-right: 20px;

  font-size: 20px;
  line-height: 24px;
}
footer {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 1100px;
  height: 180px;
  margin-top: 183px;
  align-items: flex-start;
  justify-content: space-around;
}
.address-footer {
  margin-left: 50px;
  width: 264.573486328125px;
  height: 98px;
}

.nav-footer {
  width: 163.9px;
  height: 64px;
}

.nav-footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 2px;
}

.nav-footer li {
  margin-left: 10px;
}
.footer-img {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 48px;
  gap: 48px;
}
