/* место для вашего кода */
body {
  font-family: 'Raleway',Arial, Helvetica, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 478px 148px 574px;
  width: 1100px;
  min-height: 293px;
  color: rgb(0, 0, 0,1);
}

.contacts {
  font-style: initial;
  font-size: 18px;
  line-height: 24px;
}

.contacts-margin {
  width: 240px;
  margin: 95px 50px 100px 184px;
}

.font-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-style: initial;
}

.logo-img {
  width: 135px;
  /*height: 105px;*/
  margin: 92px 0 0 5px ;
}

.nav-header {
  width: 391.48px;
  margin: 133px 36.52px 138px 50px;

}

.list-style-none {
  list-style: none;
}

.nav-header ul {
  display: flex;
  list-style: circle;
  gap: 31px;
}

.nav-header li {
  margin-left: 1px;
}

.cover {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255, 1);
  align-items: center;
  width: 1100px;
  min-height: 757px;
}

.cover-img {
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/lotus-flower.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
}

h2 {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.lots-padding {
  padding: 0 0 27px 40px;
}

.underline-black {
  letter-spacing: 0;
  text-decoration:
    underline rgb(0, 0, 0, 1);
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.underline-black
.active {
  text-decoration: none;
}

.underline-white {
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration:
    underline rgb(255, 255, 255, 1);
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.title {
  display: flex;
  flex-direction: column;
  width: 1000px;
  min-height: 385px;
  margin:165px 50px 0 50px ;
  background-position: center;
}

.align-start {
  align-self: flex-start;
  width: 286px;
}

.align-center {
  align-self: center;
  width: 339px;
}

.align-flex-end {
  align-self: flex-end;
  width: 387px;
}

.tutli-text-margin-top {
margin-top: 20px;
}

.tracking-wide {
  letter-spacing: 2.2px;
}

.tracking-condensed {
  letter-spacing: -0.2px ;
}

.tracking-tight {
  letter-spacing: -0.4px;
}

.container-flex {
  display: flex;
}

.description {
  width: 637px;
  background-position: center;
  margin: 118px 0 50px 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing:20px;
}

.description-button {
  width: 256px;
  height: 51px;
  margin: 106px 50px 50px 107px;
}

button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  width: 256px;
  height: 51px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.lots-section {
  display: flex;
  flex-direction: column;
  min-height: 723px;
  margin: 180px 24px 0 24px;
  background-position: center;
}

.lots-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 596px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
  gap: 25px;
}

.lots-flex {
  display: flex;
  flex-direction: column;
  background-position: center;
  padding: 48px 40px 40px 40px;
  background-size: 100% 100%;
  min-height: 596px;
}

.text-end {
  margin-top: auto;
  font-size: 20px;
  margin-bottom: 9px;
}

.lots-img-film {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/card-lot-01.png);
}

.lots-img-book {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/card-lot-02.png);
}

.lots-img-picture {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/card-lot-03.png);
}

.more {
  font-size: 20px;
 /* width: 232px;*/
  padding: 30px 0 2px 40px;
}

.about {
  display: flex;
  flex-direction: row;
  margin: 120px 24px 0 24px;
  width: 1052px;
  min-height: 595px;
}

.about-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-left: 47px;
}

.border-container {
  display: inline-block;
  width: 136px;
  height: 102px;
  border: 6px solid rgba(255, 255, 255,1);
}
.border-container img {
  width: 100%;
  height: 100%;
   object-fit: cover;
}

.about-conteir {
  display: grid;
  grid-template-rows: 121px 120px 192px  ;
  width: 693px;
  min-height: 449px;
  margin: 133px 12px 3px 72px;
  padding-left: 2px;
  font-size: 20px;
  line-height: 24px;
  gap: 24px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 220px 1fr;
  min-height: 180px;
  margin-top: 155px;
  margin-left: 50px;
  justify-content: space-around;
}

.contacts-width {
  width: 264px;
}

.nav-footer {
  width: 163.9px;
}

.nav-footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 2px;
}

.nav-footer li {
  margin-left: 10px;
}

.footer-img {
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 48px;
  gap: 40px;
  margin-left: 85px;
  padding-left: 40px;
}

.margin-left {
  margin-left: 7px;
}

.margin-right {
  margin-right: -10px;
}
