/* место для вашего кода */
body {
  width: 1100px;
  height: 3028px;
  font-family: 'Raleway',Arial, Helvetica, sans-serif;
  font-style: normal;
}

header {
  display: grid;
  grid-template-columns: 478px 148px 574px;
  width: 1100px;
  height: 293px;
  color: #000000;
}

.contacts {
  width: 240px;
  height: 98px;
  margin: 95px 50px 100px 184px;
  font-size: 18px;
  line-height: 24px;
}

.font-menu {
font-weight: 400;
}

.logo-img {
  width: 148px;
  height: 105px;
  margin: 92px 0 96px 0 ;
}

.nav-header {
  width: 391.48px;
  height: 22px;
  margin: 133px 36.52px 138px 50px;
  font-size: 18px;
  line-height: 21px;
}

.list-style-none {
  list-style: none;
}

.nav-header ul {
  display: flex;
  list-style: circle;
  gap: 18px;
}

.nav-header li {
  margin-left: 10px;
}

.cover {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255, 1);
  align-items: center;
  width: 1100px;
  height: 757px;
}

.cover-img {
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/lotus-flower.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
}

h2 {
  font-size: 40px;
  padding: 0 0 27px 40px;
  line-height: 47px;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.underline-black {
  border-bottom: 1px solid rgb(0, 0, 0, 1);
  padding-bottom: 3px; 
}

.underline-white {
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: 
    underline rgb(255, 255, 255, 1);
  text-underline-offset: 3px; 
  text-decoration-thickness: 1px;
}

.title {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 385px;
  margin:165px 50px 0 50px ;
  background-position: center;
}

.align-start {
  align-self: flex-start;
  width: 286px;
}

.align-center {
  align-self: center;
  width: 339px;
}

.align-flex-end {
  align-self: flex-end;
  width: 387px;
}

.span-v {
  letter-spacing: 2.2px;
}

.span-1 {
  letter-spacing: -0.2px ;
}

.span-2 {
  letter-spacing: -0.4px;
}

.container-flex {
  display: flex;
}

.description {
  width: 637px;
  height: 28px;
  background-position: center;
  margin: 118px 0 50px 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing:20px;
}

.description-button {
  width: 256px;
  height: 51px;
  margin: 106px 50px 50px 107px;
}

button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  width: 256px;
  height: 51px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.lots-section {
  display: flex;
  flex-direction: column;
  height: 723px;
  margin: 180px 24px 0 24px;
  background-position: center;
}

.lots-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 596px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
  gap: 25px;
}
.lots-flex {
  display: flex;
  flex-direction: column;
  background-position: center;
  padding: 48px 40px 40px 40px;
}
.text-end {
  margin-top: auto;
  font-size: 20px;
  padding-top: 30px;
}

.lots-img-1 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/card-lot-01.png);
  background-size: 100% 100%;
}
.lots-img-2 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/card-lot-02.png);
  background-size: 100% 100%;
}
.lots-img-3 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/card-lot-03.png);
  background-size: 100% 100%;
}

.more {
  font-size: 20px;
  width: 192px;
  height: 25px;
}

.padding-more {
  padding: 30px 0 2px 40px;
}

.about {
  display: flex;
  flex-direction: row;
  margin: 120px 24px 0 24px;
  width: 1052px;
  height: 595px;
}

.about-img {
  width: 240px;
  height: 240px;
  border-radius: 50%; 
  background-color: rgb(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-left: 47px;
}

.about-img img {
  max-width: 70%; 
  max-height: 70%;
  border: 
   6px solid rgb(255, 255, 255, 1); 
  box-sizing: border-box;
}

.about-conteir {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 693px;
  height: 449px;
  margin-left: 50px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 24px;
}

footer {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 180px;
  margin-top: 180px;
  align-items: flex-start;
  justify-content: space-around;
}

.address-footer {
  width: 264px;
  height: 98px;
}

.nav-footer {
  width: 163.9px;
  height: 64px;
}

.nav-footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 2px;
}

.nav-footer li {
  margin-left: 10px;
}

.footer-img {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 48px;
  gap: 48px;
}
